.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  height: 68px;

  @include md {
    height: 47px;
  }
}

.links-list {
  list-style: none;
  display: flex;
  padding-right: 50px;

  @include md {
    padding: 0;
  }
}

.link {
  display: block;
  font-weight: 500;
  color: $color-primary;
  text-decoration: none;
  margin-left: 57px;

  @include md {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
  }
}

.link-active {
  display: block;
  font-weight: 500;
  color: $color-primary;
  text-decoration: underline;
  margin-left: 57px;
}
