.footer {
  width: calc(100% + 200px);
  height: 209px;
  margin: 50px -100px -40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: $black;

  @include md {
    width: calc(100% + 40px);
    margin: 0 -20px -20px;
    justify-content: center;
  }
}

.logo-footer {
  width: 122px;
}

.credits {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  color: $white;

  @include md {
    margin-top: 29px;
    font-size: 12px;
  }
}
