.gallery {
  margin-top: 43px;
  padding: 56px 50px 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: $gray-lighter;
  border-radius: 25px;

  @include sm {
    flex-flow: column nowrap;
    background: none;
    margin-top: 22px;
    padding: 0;
  }
}
