.tag {
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  color: $white;
  font-size: 14px;
  font-weight: 500;

  @include md {
    min-width: 64px;
    height: 18px;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  &-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    @include md {
      flex-flow: row wrap;
    }
  }
}
